body {
  min-height: 100vh;
  background-image: url("./img/fondo.jpg");
  background-color: rgba(0, 0, 0, 0.753);
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  position: relative;
  padding-bottom: 45px;
  font-family: "Montserrat", sans-serif;
}
h1 {
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

.color-span {
  color: rgb(29, 118, 190);
}
.form-series {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  max-width: 100%;
  display: block; /*una img tiene display: inline-block, al cambiarlo a block se redondean las esquinas bottom*/
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0;
}
footer a {
  margin-right: 20px;
  transition: all 0.2s;
}
a:hover {
  color: #cfe2ff;
}

textarea {
  resize: none;
}
.oculto {
  display: none !important;
}
.ancho {
  width: 97%;
}
.ancho-contacto {
  width: 100%;
  padding: 0 20px;
}

@media screen and (min-width: 992px) {
  .ancho {
    width: 70%;
  }
  .margin-serie {
    margin-left: 100px;
  }
  .ancho-contacto {
    width: 40%;
    padding: 0;
  }
}

/*nosotros*/
.card {
  background-color: transparent;
  border: none;
}

.img-perfil {
  max-width: 50%;
}

.card-body {
  font-size: 17px;
}

.container-contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

@media screen and (min-width: 992px) {
  .container-card {
    justify-content: center;
    align-items: center;
    height: 60vh;
  }
}
